* {
    margin : 0;
    padding : 0;
    box-sizing : border-box;
    font-family : 'Quicksand';
}

body {
    width: 100%;
    overflow-x: hidden;
}

main {
    height: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

/* Navigation Bar */

header {
    display: inline;
    position: fixed;
    top: 0px;
    z-index: 999;
    width: 100%;
}

nav {
    display : flex;
    flex-direction: row;
    background-color: white;
    height: 80px;
    width: 100%;
}

nav .logo img {
    height: 70px;
    padding-left: 20px;
    padding-top: 5px;
}

.responsive-bar .resp-list {
    display: none;
}

.responsive-bar .hamburger-bar img {
    height: 0px;
}  

.nav-li {
    display: flex;
    padding-left: 50px;
    padding-top: 35px;
    width: 100%;
    z-index: 200;
}

.nav-li li a {
    margin-left: 30px;
    text-decoration: none;
    color: black;
}

.nav-li li a:hover {
    text-decoration: underline;
}

.nav-li li {
    list-style: none;
} 

.button a, .button{
    margin-left: 30px;
    margin-top: 35px;
    text-decoration: none;
}

.logreg {
    position: absolute;
    right: 20px;
    top: 35px;
    z-index: 200;
}

.logreg a {
    color: black;
    margin-right: 20px;   
    text-decoration: none;
}

.dropdown {
    margin-left: 20px;
    border: 2px solid white;
    font-size: 15px;
    margin-bottom: 15px;
    position: relative;
    right: -5px;
    top: -5px;
}

/* Navigation Bar End */

/* home-page */
/*start*/
.start {
    height: 665px;
}

.start img {
    width: 100%;
    object-fit: cover;
    height: 665px;
}

.start-text-box {
    display: flex;
    justify-content: flex-end;
    text-align: right;
    position: absolute;
    top: 170px;
    width: 100%;
}

.start-text-box p {
    font-family: 'Bebas Neue';
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 15px black;
    font-size: 60px;
    margin-right: 30px;
    width: 700px;
}

.start-button {
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
}

.start-button a {
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 500px;
    color: white;
    text-decoration: none;
    padding: 15px;
    font-size: 30px;
    font-weight: bold;
    border-radius: 50px;
    text-align: center;
    width: 250px;
}

.start-button a:hover {
    background-color: white;
    color: black;
    transition: ease-in-out 0.15s
}

.container {
    display: flex;
    flex-direction: column;
}

.page1 {
    display: flex;
    background-image: url(page1.png);
    background-size: cover;
    background-position: center;
}

.page1 img {
    height: 290px;
}

.page1 .text-box {
    padding-top: 70px;
    color: white;
    font-size: 25px;
    text-align: justify;
    text-shadow: 2px 2px 15px black;
    padding-left: 35px;
}

.page2 {
    background-size: cover;
    background-position: center;
    display: flex;
    background-image: url(page2.png);
}

.page2 img {
    height: 295px;
}

.page2 .text-box {
    padding-top: 20px;
}

.page2 .text-box h1 {
    margin-top: 30px;
    font-size: 40px;
    color: white;
}

.page2 .text-box {
    color: white;
    font-size: 25px;
    text-align: justify;
    text-shadow: 2px 2px 15px black;
    padding-right: 35px;
    padding-bottom: 30px;
}

.page3 {
    background-size: cover;
    background-position: center;
    display: flex;
    background-image: url(page3.png);
}

.page3 img {
    padding-top: 25px;
    height: 295px;
}

.page3 .text-box {
    padding-left: 35px;
    padding-bottom: 30px;
    padding-top: 20px;
}

.page3 .text-box h1 {
    margin-top: 30px;
    font-size: 40px;
    color: white;
}

.page3 .text-box p {
    color: white;
    font-size: 25px;
    text-align: justify;
    text-shadow: 2px 2px 15px black;
}

.cta {
    background-image: url(morebg.png);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    height: 290px;
}

.cta h1 {
    text-align: center;
    color: white;
    font-size: 50px;
    text-shadow: 2px 2px 15px black;
}

.cta a {
    background-color: black;
    color: white;
    text-decoration: none;
    font-size: 30px;
    padding: 20px;
    border-radius: 60px;
    font-weight: bold;
}

.cta a:hover {
    transition: ease-in-out 0.2s;
    background-color: white;
    color: black;
}

@media screen and (max-width: 950px) {
    .start-text-box {
        text-align: center;
        justify-content: center;
    }

    .start-text-box p {
        font-size: 40px;
        width: 570px;
        margin-right: 0px;
        padding: 30px;
    }

    .responsive-bar {
        z-index: 200;
    }

    .nav-li {
        z-index: 0;
    }

    .responsive-bar .hamburger-bar img {
        height: 40px;
        cursor: pointer;
        position: absolute;
        right: 20px;
    }

    .start-button {
        justify-content: center;
        margin-right: 0px;
    }

    .start-button a {
        font-size: 20px;
        padding: 10px;
        top: 460px;
    }

    header {
        font-size: 0px;
    }

    header .dropdown {
        height: 0px;
        width: 0px;
    }

    .responsive-bar {
        width: 100%;
        position: absolute;
        height: 100%;
    }

    .responsive-bar .hamburger-bar {
        display: flex;
        align-items: center;
        height: 100%;
    }

    .responsive-bar .resp-list {
        width: 300px;
        position: absolute;
        right: 0px;
        font-size: 20px;
        display: flex;
        flex-direction: column;
        background-color: white;
    }

    .responsive-bar .resp-list a {
        text-decoration: none;
        color: black;
        padding: 20px;
    }

    .responsive-bar .resp-list a:hover {
        background-color: rgb(208, 208, 209);
        color: rgb(89, 89, 89); 
        transition: ease-in-out 0.15s;
        padding-left: 30px;
    }

    .page1 img, .page2 img, .page3 img {
        height: 0px;
    }

    .page1 .text-box {
        padding-left: 0px;
        padding-top: 0px;
        padding: 35px;
    }

    .page2 .text-box {
        padding-right: 0px;
        padding-bottom: 0px;
        padding: 35px;
    }

    .page2 .text-box h1 {
        margin-top: 0px;
        text-align: center;
    }

    .page3 .text-box {
        padding-left: 0px;
        padding-bottom: 0px;
        padding: 35px;
    }

    .page3 .text-box h1 {
        margin-top: 0px;
        text-align: center;
    }

    .cta h1 {
        font-size: 7vw;
    }

    .cta a {
        font-size: 4vw;
    }
}