* {
    margin : 0;
    padding : 0;
    box-sizing : border-box;
    font-family : 'Quicksand';
}

body {
    width: 100%;
}

main {
    height: auto;
}

/* Navigation Bar */
header {
    display: inline;
    position: fixed;
    top: 0px;
    z-index: 999;
    width: 100%;
    box-sizing: border-box;
}


.responsive-bar .hamburger-bar img {
    height: 0px;
}

.resp-list {
    font-size: 0px;
}

nav {
    display : flex;
    flex-direction: row;
    background-color: white;
    height: 80px;
    width: 100%;
    box-sizing: border-box;
}

nav .logo-perusahaan {
    height: 70px;
    padding-left: 20px;
    padding-top: 5px;
}

.nav-li {
    display: flex;
    padding-left: 50px;
    padding-top: 35px;
    width: 100%;
    z-index: 200;
}

.nav-li li a {
    margin-left: 30px;
    text-decoration: none;
    color: black;
    z-index: 200;
}

.nav-li li a:hover {
    text-decoration: underline;
}

.nav-li li {
    list-style: none;
} 

.button a, .button{
    margin-left: 30px;
    margin-top: 35px;
    text-decoration: none;
}

.logreg {
    position: absolute;
    right: 20px;
    top: 35px;
    z-index: 200;
}

.logreg a {
    color: black;
    margin-right: 20px;   
    text-decoration: none;
}

.dropdown {
    margin-left: 20px;
    border: 2px solid white;
    font-size: 15px;
    margin-bottom: 15px;
    position: relative;
    right: -5px;
    top: -5px;
}

/* Navigation Bar End */

/* banner */
.banner-container img {
    width: 100%;
    object-fit: cover;
    height: 750px;
    z-index: 1;
}

.banner {
    position: relative; 
    top: 0px;
    height: 750px;
}

.text-banner {
    position: absolute;;
    top: 270px;
    text-align: center;
    width: 100%;
    font-size: 80px;
    color: white;
    text-shadow: 2px 2px 15px black;
    z-index: 10;
}
/* banner-end */

/* main */
main {
    background-image: url(projects-bg.png);
    background-position: center;
    background-size: cover;
    height: auto;
}

/* Container utama */
.container .main-content {
    display: flex;
    width: 100%;
    align-items: flex-start;
    padding: 20px;
    gap: 20px;
}

.container .footer {
    z-index: 100;
    width: 100%;
    height: 230px;
    display: flex;
    flex-direction: column;
}

.container .footer-container {
    background-color: white;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container .footer .line {
    width: 100%;
    background-color: black;
    height: 10px;
    position: absolute;
}

.container .nav-footer {
    padding: 10px;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-around;
}

.container .nav-footer .content1, .container .nav-footer .content2, .container .nav-footer .content3, .container .nav-footer .content4, .container .nav-footer .content5, .container .nav-footer .content6 {
    height: 100%;
    width: 180px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.footer-container .others {
    text-align: center;
    padding: 10px;
}

.footer-container .others .contacts {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.footer-container .nav-footer h5 {
    font-size: 15px;
}

.footer-container .nav-footer a {
    font-size: 13px;
    color: black;
    text-decoration: none;
}

.footer-container .nav-footer a:hover {
    text-decoration: underline;
    font-weight: bold;
}

/* DISPLAY BOX */
.display-box {
    width: 67%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.display-box img {
    object-fit: cover;
    width: 100%;
    height: 350px;
    border-radius: 10px;
}

/* Text container di bawah gambar */
.text-container {
    width: 30%;
    background-color: rgba(0,0,0,0.8); /* Hitam */
    color: #fff; /* Font putih */
    padding: 15px;
    border-radius: 10px;
    text-align: left;
    height: auto
}

.text-container h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.text-container p {
    font-size: 16px;
    line-height: 1.6;
}

/* SCROLL BOX */
.scroll-box {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    max-height: 100px;
    display: flex;
    gap: 20px;
    z-index: 200;
}

.scroll-box img {
    width: 100%;
    object-fit: cover;
    height: 90px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.8s;
}

.scroll-box img:hover {
    transform: scale(1.05);
}


/* Scroll minimalis untuk WebKit (Chrome, Safari, Edge) */
.scroll-box::-webkit-scrollbar {
    width: 6px; /* sangat tipis */
}

.scroll-box::-webkit-scrollbar-track {
    background: transparent; /* track transparan */
}

.scroll-box::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.3); /* thumb semi-transparan */
    border-radius: 3px; /* ujung bulat */
}

.scroll-box::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0,0,0,0.5); /* lebih gelap saat hover */
}

.container .popup-box {
    width: 40px;
    height: 50px;
    background: #ffffff;
    box-shadow: 2px 2px 15px 2px rgba(0,0,0,0.5);
    border-radius: 8px;
    overflow: hidden;
    display: none; /* Akan diubah jadi 'flex' oleh JS */
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 15px;
    margin-top: 10px;

    /* Posisi pop-up untuk layar besar */
    position: absolute;
    top: 790px;    
    left: 40px;      

    cursor: pointer;
    opacity: 0;
    transition: opacity 0.5s ease, width 0.4s ease;
}

.container .popup-box .main-text {
    color: #000;
    font-size: 18px;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.4s ease;
    white-space: nowrap;
}

.container .popup-box .sub-text {
    color: #333;
    opacity: 0;
    font-size: 13px;
    margin-top: 3px;
    transition: opacity 0.4s ease;
    white-space: nowrap;
}

/* Class saat aktif (dipicu JS) */
.popup-box.expanded {
    width: 250px; /* Lebar saat terbuka di desktop */
}

.popup-box.expanded .main-text,
.popup-box.expanded .sub-text {
    opacity: 1;
}

/* Scroll minimalis untuk Firefox */
.scroll-box {
    scrollbar-width: thin; /* tipis */
    scrollbar-color: rgba(0,0,0,0.3) transparent; /* thumb semi-transparan, track transparan */
}

.main-content .arrow img {
    height: 0px;
    z-index: 100;
}


@media screen and (max-width: 950px) {
    .nav-li li a, .logreg {
        font-size: 0px;
    }

    .responsive-bar {
        width: 100%;
        position: absolute;
        height: 100%;
    }

    .responsive-bar .hamburger-bar {
        display: flex;
        align-items: center;
        height: 100%;
    }

    .responsive-bar .resp-list {
        width: 300px;
        position: absolute;
        right: 0px;
        font-size: 20px;
        display: flex;
        flex-direction: column;
        background-color: white;
    }

    .responsive-bar .resp-list a {
        text-decoration: none;
        color: black;
        padding: 20px;
    }

    .responsive-bar .resp-list a:hover {
        background-color: rgb(208, 208, 209);
        color: rgb(89, 89, 89); 
        transition: ease-in-out 0.15s;
        padding-left: 30px;
    }   
    
    .responsive-bar .hamburger-bar img {
        height: 40px;
        cursor: pointer;
        position: absolute;
        right: 20px;
    }

    .main-content .display-box .text-box .title h1 {
        font-size: 25px;
    }

    header .dropdown {
        height: 0px;
        width: 0px;
    }

    .responsive-bar {
        z-index: 200;
    }

    .nav-li {
        z-index: 0;
    }

    .main-content {
        height: auto;
    }

    .banner .text-banner h1 {
        font-size: 120px;
    }

    .banner .text-banner p {
        font-size: 35px;
    }

    .footer .footer-container .nav-footer {
       margin-top: 40px;
    }
}

@media screen and (max-width: 600px) {
    .banner .text-banner h1 {
        font-size: 65px;
    }

    .banner .text-banner p {
        font-size: 25px;
    }

    main .title {
        font-size: 14px;
    }

    main .container .display-box {
        width: 100%;
    }

    main .main-content {
        flex-direction: column;
    }

    main .main-content .text-container {
        width: 100%;
    }

    main .main-content .scroll-box {
        top: 1050px;
        position: absolute;
        width: 56%;
        max-height: 60px;
        gap: 5px;
    }

    main .main-content .scroll-box img {
        height: 60px;
    }
    
    .main-content .arrow img {
        height: 30px;
    }

    .main-content .arrow .left-arrow {
        transform: rotate(180deg);
    }

    .main-content .arrow {
        display: flex;
        justify-content: space-between;
        width: 91%;
        position: absolute;
        top: 1070px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .footer .footer-container .nav-footer .content1 h5, .footer .footer-container .content1 a {
        font-size: 0px;
        height: 0px;
    }

    .footer .footer-container .nav-footer .content2 h5, .footer .footer-container .content2 a {
        font-size: 0px;
        height: 0px;
    }

    .footer .footer-container .nav-footer .content3 h5, .footer .footer-container .content3 a {
        font-size: 0px;
        height: 0px;
    }

    .footer .footer-container .nav-footer .content4 h5, .footer .footer-container .content4 a {
        font-size: 0px;
        height: 0px;
    }

    .footer .footer-container .nav-footer .content5 h5, .footer .footer-container .content5 a {
        font-size: 0px;
        height: 0px;
    }

    .footer .footer-container .nav-footer {
       width: 100%;
    }

    .footer .footer-container .nav-footer .content6 {
        text-align: center;
        position: absolute;
        height: 75px;
    }

    .footer .footer-container .nav-footer .content6 h5 {
        font-size: 30px;
    }

    .footer .footer-container .nav-footer .content6 a {
        font-size: 15px;
    }

    .footer .footer-container .others {
        padding-top: 60px;
        font-size: 15px;
    }
}